@import '../../common.css';

.container {
  max-width: 1180px;
  padding: 20px 0;
  font-family: 'Heebo', sans-serif;
}

.footer {
  border-top: 1px solid #dbdbdb;
}

.footer-content {
  composes: container;
  margin: 0 auto;
  display: block;
  align-items: center;
  font-size: 14px;
  color: #6b6b6b;
  > div {
    text-align: center;
    &:last-child {
      padding: 10px 0;
    }
  }

  @media (--larger-than-mobile) {
    display: flex;
    justify-content: space-between;
    > div:last-child {
      padding: 0;
    }
  }
}

.social-icon {
  width: 30px;
  padding: 0 10px;
}
