@import "../variables.css";

.filter-nav-container {
  display: none;
  @media (--larger-than-tablet) {
    display: block;
  }
  nav {
    display: flex;
    font-family: 'Heebo', sans-serif;
    .sort-by {
      color: #333;
      display: inline-block;
      margin-right: 15px;
    }
    .filter-by {
      color: #333;
      display: inline-block;
      margin-left: 100px;
      margin-right: 15px;
    }
    ul {
      display: inline-block;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 25px;
        text-align: left;
        font-size: 1em;
        line-height: 1.9em;
        cursor: pointer;
        display: inline;
        span {
          opacity: .4;
          position: relative;
          &:hover {
            opacity: .6;
          }
        }
        .filter-active {
          border-bottom: 1px solid #333;
          font-weight: 300;
          color: rgb(107, 107, 107);
          opacity: 1;
          &:before {
            content: "";
              background-image: url(/build/a48f089646cdd0a780e758794cd80602.png);
              height: 20px;
              background-size: 13px;
              width: 20px;
              position: absolute;
              top: 6px;
              left: 9px;
              background-repeat: no-repeat;
          }
        }
      }

      li:nth-child(n+2) {
        padding-left: 15px;
      }
    }
  }
}
