@import "../variables.css";

.filter-nav-container {
  display: none;
  @media (--larger-than-tablet) {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;

    ul {
      display: inline-block;
      padding-left: 20px;

      li {
        list-style: none;
        margin-bottom: 25px;
        text-align: left;
        font-size: .9em;
        cursor: pointer;
        display: inline;
      }
      li:nth-child(n+2) {
        padding-left: 40px;
      }
    }
  }
}
