@import "../variables.css";

.filter-nav-container {
  display: none;
  @media (--larger-than-tablet) {
    display: block;
  }
  nav {
    display: flex;
    justify-content: space-between;
    .styles {
      padding-left: 20px;
    }
    .price {
      padding-right: 20px;
    }
    ul {
      display: inline-block;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 25px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: .9em;
        cursor: pointer;
        display: inline;
        span {
          opacity: .4;
          position: relative;
          &:hover {
            opacity: .8;
          }
        }
        .filter-active {
          color: red;
        }
      }
      li:nth-child(n+2) {
        padding-left: 40px;
      }
    }
  }
}
