.products-container {
  min-height: 700px;
  padding: 10px;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 20px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.oops-container {
  padding: 0 18px;
}
