@import "../../common.css";

.filter-nav-container {
  margin: 0 20px;
  @media (--larger-than-tablet) {
    display: block;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 20px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Heebo', sans-serif;
    padding-top: 20px;
    @media (--larger-than-mobile) {
      padding: 0 18px;
    }
    .sort-by {
      color: #333;
      display: inline-block;
      margin: 0 15px 0 0;
    }
    .filter-by {
      color: #333;
      display: inline-block;
      margin: 0 15px 0 100px;
    }
    ul {
      display: inline-block;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: 25px;
        text-align: left;
        font-size: 1em;
        line-height: 1.9em;
        cursor: pointer;
        display: inline;
        span {
          opacity: .4;
          position: relative;
          &:hover {
            opacity: .6;
          }
        }
        .filter-active {
          border-bottom: 1px solid #333;
          font-weight: 300;
          color: rgb(107, 107, 107);
          opacity: 1;
          &:before {
            content: "";
              background-image: url(/build/a48f089646cdd0a780e758794cd80602.png);
              height: 20px;
              background-size: 13px;
              width: 20px;
              position: absolute;
              top: 6px;
              left: 9px;
              background-repeat: no-repeat;
          }
        }
      }

      li:nth-child(n+2) {
        padding-left: 15px;
      }
    }
  }
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
}

.actions-container {
  display: none;
  @media (--larger-than-mobile) {
    display: flex;
  }
}
