@import "../../common.css";

.container {
  flex: 0 1 210px;
  margin: 30px 0;
}

.image {
  max-height: 350px;
  width: 100%;
  height: 80%;
}

.copy {
  display: block;
  text-align: center;
  padding: 5px 0;
  color: #2d2d34;
}

.brand {
  composes: copy;
  font-size: 14px;
  margin-top: 10px;
  opacity: .6;
}

.name {
  composes: copy;
  font-weight: 100;
}

.price-container {
  composes: copy;
  span {
    padding: 0 7px;
    opacity: .6;
  }
}

span.old-price {
  opacity: .3;
}
