.product {
  width: 300px;
  margin: 40px 0 auto;
  border: 1px solid #efefef;
  background-color: white;
  a {
    text-decoration: none;
    .img-container {
      width: 100%;
      position: relative;
      background-color: white;
      position:relative;
      img {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 299px;
      }
    }
    .description {
      padding-top: 15px;
      font-family: 'Open Sans', sans-serif;
      font-size:18px;
      .brand {
        opacity: .4;
      }
      h5 {
        text-align: center;
        color: #2d2d34;
        margin: 0 0 5px 0;
        font-weight: 400;
        opacity: .9;
      }
      div {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 40%;
        h6 {
          margin: 0;
          font-weight: 400;
          opacity: .9;
        }
        .reg-price {
          color: #2d2d34;
          padding: 5px 0 5px 8px;
          font-size: 16px;
        }
        strike {
          padding-right:15px;
          color:grey;
        }
        .sale-price {
          color: #2d2d34;
          padding: 5px 8px 5px 0;
          font-size:16px;

        }

      }
    }
  }
}
