.products-container {
  min-height: 700px;
  padding-top: 84px;

  .wrapper {
    max-width: 960px;
    margin: 0 auto;

    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
