@import "../variables.css";

.main-nav-container {
  background-color: #fff;
}

.main-nav-container ul {
  margin: 1.05em 1.25em;
  text-align: center;
}

.logo {
  padding: 1em 1.25em;
  margin: 0 auto;
  max-width: 200px;
  opacity: .85;
}

.main-nav-container li {
  list-style: none;
  display: inline;
  margin: 0 45px;
  font-size: .9em;
  text-transform: uppercase;
}

.main-nav-container li a {
  color: #333;
  opacity: .4;
}

.main-nav-container li a:hover {
  color: #333;
  opacity: .7;
}
