.main-nav-container {
  background-color: #333333;
}

.main-nav-container ul {
  margin: 1.05em 1.25em;
  display: inline-block;
}

.logo {
  padding: 1em 1.25em;
  max-width: 175px;
  display: inline-block;
}

.main-nav-container li {
  list-style: none;
  display: inline;
  margin: 0 45px;
  font-size: .9em;
  text-transform: uppercase;
}

.main-nav-container a {
  color: white;
  opacity: .4;
}

.main-nav-container a:hover {
  color: white;
  opacity: .7;
}
