.hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
    background-image: url('../../img/hero-5-12-16.jpg');
}

.hero h1 {
  padding-top: 60px;
  padding-left: 80px;
  text-transform: uppercase;
  color: white;
}
