.hero1 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.hero-img {
  background-image: url('../../img/hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
