.container {
  max-width: 1180px;
  padding: 60px 40px;
  border: 1px solid transparent;
  margin: 0 auto;
  height: 100%;
  font-family: 'Heebo', sans-serif;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vw;
  min-height: 300px;
  background-image: url('../../img/dresses.jpg');
}

.hero-content {
  composes: container;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 0px;
    font-size: 13vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #db5461;
  }
  a {
    padding: 2px 0;
    color: #333;
    border-bottom: 2px solid #333;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      border-bottom: 2px solid #474747;
      color: #474747;
    }
  }
}

.about {
  background-color: #fafafa;
  text-align: center;
  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    color: #474747;
  }
  ul {
      padding:0;
    }
  p {
    margin: 0 0 40px 0;
    opacity: .7;
    color: #474747;
  }
  a {
    padding: 8px 20px;
    margin-top: 40px;
    border-radius: 2px;
    background-color: #474747;
    color: #fafafa;
    text-decoration: none;
  }
}

.stylist-pick {
  background-color: white;
}

.stylist-pick-container {
  composes: container;
  border: 1px solid red;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.stylist-pick-reverse-container {
  composes: stylist-pick-container;
}

.stylist-pick-image-container {
  width: 450px;
  position: relative;
  img {
    width: 100%;
    height: 350px;
  }
}

.request-products {
  background: linear-gradient(130deg, #F3752B, #A20021);
  color: white;
  text-align: center;
  h1 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 50px;
  }
  p {
    margin-top: 0;
  }
  input {
    background: rgba(250, 250, 250, .1);
    color: white;
    padding: 3px 8px;
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    margin-top: 18px;
  }
}
