.active {
            width:70%;
            height:1px;
            left:15%;
            bottom:0;
            border-bottom:1px solid black;
}

.main-nav-link {
  text-decoration: none;
  padding: 22px 15px;
  color: #585858;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

/*&:after {
            content: "";
            position:absolute;
            width:70%;
            height:1px;
            left:15%;
            bottom:0;
            border-bottom:1px solid black;
          }*/