.post-container {

}

.hero {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    height: inherit;
    background: rgba(0,0,0,0.2);
  }
}

.hero-content {
  z-index: 1;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
}

.hero-date {
  margin: 0;
}

.post-content-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 40px;
  font-family: Droid Sans, sans-serif;

  img {
    /*width: 100%;*/
    margin: 20px 0;
  }
}
