@import '../../common.css';

.container {
  max-width: 1180px;
  padding: 40px 30px;
  border: 1px solid transparent;
  margin: 0 auto;
  height: 100%;
  font-family: 'Heebo', sans-serif;
  @media (--larger-than-tablet) {
    padding: 60px 40px;
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vw;
  min-height: 300px;
  background-image: url('../../../img/dresses.jpg');
}

.hero-content {
  composes: container;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 0px;
    font-size: 13vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #db5461;
  }
}

.shop-now {
  padding: 8px 15px 6px;
  border-radius: 2px;
  background-color: #474747;
  color: #fafafa;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #6b6b6b;
  }
}

.banner {
  composes: container;
  text-align: center;
  color: #6b6b6b;
  padding: 10px 40px;
  h1 {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

a.learn-more {
  margin-top: 30px;
  padding: 6px 15px 4px;
  border: 1px solid #6b6b6b;
  border-radius: 2px;
  color: #6b6b6b;
  text-decoration: none;
  &:visited {
    color: #6b6b6b;
  }
  &:hover {
    color: #474747;
  }
}

.editorial {
  composes: container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (--larger-than-tablet) {
    flex-wrap: nowrap;
  }
}

.promo {
  flex: 1 0 auto;
  height: 400px;
  text-align: center;
  background-position: center;
  background-size: cover;
  h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    color: #db5461;
  }
  p {
    margin: 0;
  }
  @media (--larger-than-tablet) {
    flex: 0 0 49%;
  }
}

.promo-women {
  composes: promo;
  background-image: url('../../../img/shop-women.jpg');
}

.promo-men {
  composes: promo;
  background-image: url('../../../img/shop-men.jpg');
}

.promo-overlay {
  margin-top: 120px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.promo-button {
  margin: 0 auto;
  margin-top: 20px;
  padding: 8px 8px;
  width: 94px;
  background-color: #474747;
  color: #fafafa;
  border-radius: 2px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
}

.blog {
  margin-top: 40px;
  text-align: center;
  @media (--larger-than-tablet) {
    margin-top: 0;
    flex: 0 0 49%;
  }
}

.blog-content {
  background-color: rgba(255, 255, 255, .7);
  h1 {
    margin: 0;
  }
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }
  @media (--larger-than-tablet) {
    background-color: transparent;
  }
}

a.blog-button {
  padding: 8px 15px 6px;
  background-color: #474747;
  color: #fafafa;
  border-radius: 2px;
  text-decoration: none;
  &:visited {
    color: #fafafa;
  }
  &:hover {
    color: white;
  }
}

.slideshow-container {
  composes: container;
}

/*global: (
  .slick-slide {
    color: black;
    background-color: red;
  }
)*/

.stylist-pick {
  background-color: white;
}

.stylist-pick-container {
  composes: container;
  border: 1px solid red;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.stylist-pick-reverse-container {
  composes: stylist-pick-container;
}

.stylist-pick-image-container {
  width: 450px;
  position: relative;
  img {
    width: 100%;
    height: 350px;
  }
}

.request-products {
  background: linear-gradient(130deg, #F3752B, #A20021);
  color: white;
  text-align: center;
  h1 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 50px;
  }
  p {
    margin-top: 0;
  }
  input {
    background: rgba(250, 250, 250, .1);
    color: white;
    padding: 3px 8px;
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    margin-top: 18px;
  }
}
