@import '../../common.css';

.main-nav-container {
  border: 1px solid #dbdbdb;
  max-height: 52px;
  padding: 0 10px;
  @media (--larger-than-small-desktop) {
    height: 72px;
    padding: 0 2em;
  }
}
